PORT=3000
BASE_URL=http://localhost:3000

# MySQL
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=yt_live

# Jalur FFmpeg (kalau sudah di PATH, cukup 'ffmpeg')
FFMPEG_PATH=ffmpeg

# Session secret
SESSION_SECRET=sangat-rahasia-banget
